<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collections</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/style/navbar.css" />
    <link rel="stylesheet" href="/assets/style/collections.css" />
  </head>
  <body class="bgc">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary nav-bgc">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img class="image" src="/assets/image/brandred.png" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="/collections"
              >Collections</a>
            </li>
          </ul>
          <div class="dropdown ms-auto">
            <a
              class="nav-link dropdown-toggle d-flex flex-row justify-content-center align-items-center gap-2"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{#if isLogin}}
                <i class="fa-regular fa-user"></i><p
                  class="mt-3"
                >{{user.username}}</p>
              {{else}}
                <i class="fa-solid fa-bars"></i>
              {{/if}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              {{#if isLogin}}
                <li><a
                    class="dropdown-item disabled"
                  >Hi,{{user.username}}</a></li>
                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
              {{else}}
                <li><a class="dropdown-item" href="/login">Login</a></li>
                <li><a class="dropdown-item" href="/register">Register</a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- Body -->
    <div class="container-fluid">
      <div class="row justify-content-center">
        <h1 class="mt-5 mb-5 h1co offset-2">Collections</h1>
        {{#if messages.danger}}
          <div class="alert alert-danger text-center" role="alert">
            <div class="container">
              {{messages.danger}}
            </div>
          </div>
        {{/if}}
        {{#if messages.success}}
          <div class="alert alert-success" role="alert">
            <div class="container">
              {{messages.success}}
            </div>
          </div>
        {{/if}}
        <div class="col-10">
          <div class="row">
            {{! Collections Card }}
            {{#each collections}}
              <div class="col-md-4 col-sm-6 col-12 mb-3">
                <div class="card p-2 fade-in">
                  <i
                    class="fa-solid fa-bars-progress justify-content-center mb-5"
                  ></i>
                  <div
                    class="d-flex flex-row gapp align-items-center justify-content-between p-3"
                  >
                    <div>
                      <h3 class="card-title">
                        <a
                          href="/collections-details/{{this.id}}"
                        >{{this.collections}}</a>
                      </h3>
                      {{#if tasks}}
                        <p>

                          {{completedTasks}}
                          /
                          {{tasks.length}}
                          tasks
                        </p>
                      {{else}}
                        <p>
                          0 / 0 tasks
                        </p>
                      {{/if}}
                    </div>
                    <i class="fa-solid fa-clock"></i>
                  </div>
                </div>
              </div>
            {{/each}}
            <!-- Add collections -->
            <div class="col-md-4 col-sm-6 col-12 mb-3 fade-in">
              <div
                class="card d-flex justify-content-center align-items-center add-card"
              >
                <a href="/add-collections"><i
                    class="fa-solid fa-circle-plus add"
                  ></i></a>
              </div>
            </div>
            {{! End of Add collections }}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</html>